﻿@model Compras.dto.dtoOrden

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ordene</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select asp-for="IdCliente" class ="form-control" asp-items="@(new SelectList(Model.Clientes,"IdCliente","Nombre"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdArticulo" class="control-label"></label>
                <select asp-for="IdArticulo" class ="form-control" asp-items="@(new SelectList(Model.Articulos,"IdArticulo","NombreArticulo"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaOrden" class="control-label"></label>
                <input asp-for="FechaOrden" class="form-control" />
                <span asp-validation-for="FechaOrden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
