﻿@model Compras.dto.dtoOrden

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Esta Seguro de Eliminar esta orden?</h3>
<div>
    <h4>Ordene</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreArticulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreArticulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaOrden)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaOrden)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCliente" />
        <input type="hidden" asp-for="IdArticulo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
