﻿@model Compras.dto.dtoOrden

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ordene</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCliente" />
            <input type="hidden" asp-for="IdArticulo" />
            <input type="hidden" asp-for="IdOrden" />
            @*<div class="form-group">
            <label asp-for="IdCliente" class="control-label"></label>
            <select asp-for="IdCliente" class="form-control" asp-items="@(new SelectList(Model.Clientes,"IdCliente","Nombre"))" readonly></select>
        </div>
        <div class="form-group">
            <label asp-for="IdArticulo" class="control-label"></label>
            <select asp-for="IdArticulo" class="form-control" asp-items="@(new SelectList(Model.Articulos,"IdArticulo","NombreArticulo"))" readonly></select>
        </div>*@
            <div class="form-group">
                <label asp-for="FechaOrden" class="control-label"></label>
                <input asp-for="FechaOrden" class="form-control" />
                <span asp-validation-for="FechaOrden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
