﻿@model IEnumerable<Compras.dto.dtoCliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Crear" class="btn btn-success">Nuevo Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @*@Html.ActionLink("Editar", "Editar", new { id=item.IdCliente }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@

                <a asp-action="Editar" asp-route-id="@item.IdCliente" class="btn btn-primary">Editar</a> |
                <a asp-action="Detalles" asp-route-id="@item.IdCliente" class="btn btn-warning">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCliente" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
