﻿@model Compras.dto.dtoArticulo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Articulo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoArticulo" class="control-label"></label>
                <input asp-for="CodigoArticulo" class="form-control" />
                <span asp-validation-for="CodigoArticulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreArticulo" class="control-label"></label>
                <input asp-for="NombreArticulo" class="form-control" />
                <span asp-validation-for="NombreArticulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioUnitario" class="control-label"></label>
                <input type="number" asp-for="PrecioUnitario" class="form-control" />
                <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input type="number" asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
