﻿@model Compras.dto.dtoArticulo

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Seguro que Desea Eliminar este registro?</h3>
<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoArticulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoArticulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreArticulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreArticulo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdArticulo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index"class="btn btn-primary">Volver</a>
    </form>
</div>
