﻿@model Compras.dto.dtoArticulo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoArticulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoArticulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreArticulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreArticulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdArticulo"  class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-danger">Volver</a>
</div>
